@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Syncopate:wght@400;700&display=swap");

body {
    background: rgb(20, 28, 82);
    background: linear-gradient(
        180deg,
        rgba(20, 28, 82, 1) 0%,
        rgba(5, 8, 27, 1) 100%
    );
    background-repeat: no-repeat;
    background-size: cover;
}
header h2 {
    color: #fff;
    font-family: Syncopate;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 10px;
}

header {
    margin-top: 10px;
}

.nav-link {
    color: #fff;
    font-family: Jura;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.main-text {
    margin: 250px 80px;
    max-width: 500px;
}

.main-text > h1 {
    color: #fff;
    font-family: Syncopate;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.main-text > h3 {
    color: #fff;
    font-family: Jura;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.all-config {
    text-align: center;
    margin-top: 180px;
}

.all-config > h1 {
    color: #fff;
    font-family: Jura;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card {
    border-radius: 43px;
    background: #fff;
}

.card > img {
    padding: 13px 26px 0 26px;
}

.card-body {
    color: #000;
    font-family: Jura;
}
.card-body > h1 {
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.card-body > p {
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.card-body > h4 {
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.forum {
    text-align: center;
    margin-top: 100px;
}
.forum > h1 {
    color: #fff;
    font-family: Jura;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.forum > a > h2 {
    color: #fff;

    font-family: Jura;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}
.forum-block {
    margin-top: 50px;
    text-align: left;
    color: #000;
    font-family: Jura;
    font-size: 24px;
    font-style: normal;
    line-height: normal;
}
.forum-card > p {
    color: #000;
    font-family: Jura;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.forum-card > h3 {
    color: #000;
    font-family: Jura;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.forum-card > span {
    color: rgba(0, 0, 0, 0.5);
    font-family: Jura;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.forum-card {
    padding: 20px;
}
.forum-list {
    margin-bottom: 30px;
}
.forum-block > a {
    text-decoration: none;
}
.your-pc {
    text-align: center;
    margin-top: 100px;
}
.your-pc > h1 {
    color: #fff;
    font-family: Jura;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.your-photo {
    border-radius: 37px;
    border: 6px solid #253189;
    background-image: url(/images/hyperdesk_photo_05.jpg);
    width: 100%;
    height: 618px;
    text-align: center;
}
.text-photo {
    position: absolute;
    text-align: left;
    padding: 100px;
    width: 920px;

    color: #fff;
    font-family: Jura;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.black {
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}
.your-photo > button {
}
